@font-face {
    font-family: 'supply';
    src: url('/fonts/PPSupplyMono-Ultralight.woff2') format('woff2'),
    font-weight: normal;
    font-style: normal;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    background-color: #f0f0f0;
    font-family: 'supply', monospace; 
    letter-spacing: 0.1rem;
}

.header {
    position: fixed; /* Fixed positioning */
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box; 
    z-index: 1000; 
}

.header-link {
    text-decoration: none;
    color: #0A0A0A;
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
}

#about-link {
    color: #F0ECDD;
}

.container {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.button {
    font-size: 1.5em;
    background-color: #FAF8F0; 
    color: #0A0A0A; 
    border: none; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
    font-family: 'supply', monospace; 
    letter-spacing: 0.1rem;
}

.button:hover {
    background-color: #F0ECDD; 
}

#option2-btn {
    background-color: #0A0A0A;
    color: #FAF8F0
}

#option2-btn:hover {
    background-color: #141414;
}

/* Styles for larger screens */
@media (min-width: 601px) {
    .container {
        flex-direction: row; /* Side-by-side buttons on larger screens */
    }

    .button {
        width: 50%; /* Each button takes half the width */
        height: 100%; /* Full height */
    }

}

/* Styles for smaller screens (mobile devices) */
@media (max-width: 600px) {
    .container {
        flex-direction: column; /* Stack buttons vertically on mobile */
    }

    .button {
        width: 100%; /* Full width on mobile */
        height: 50%; /* Each button takes half the height */
    }
}
